<html>
<head>
    <title>Medium-like Navbar</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
</head>
<body>
            <!-- Nav bar -->
    <header class="bg-white px-20 py-4 flex justify-between items-center">
        <div class="flex items-center justify-center space-x-10">
            <a href="/"><h1 class="text-2xl font-bold">iDev4rum</h1></a>

            <div class="flex items-center bg-gray-100 rounded-full px-4 py-2">
                <i class="fas fa-search text-gray-500"></i>
                <input type="text" placeholder="Tìm kiếm..." class="bg-transparent focus:outline-none ml-4" id="form-search">
                <script>
                    const formSearch = document.getElementById("form-search");

                    formSearch.addEventListener("focus", function() {
                        formSearch.classList.add("w-64");
                    });

                    formSearch.addEventListener("blur", function() {
                        formSearch.classList.remove("w-64");
                    });

                    formSearch.addEventListener("keyup", function() {
                        
                    });

                    formSearch.addEventListener("keypress", function(e) {
                        if (e.key === "Enter") {
                            // Do something
                            window.location.href = "/search?q=" + formSearch.value;
                        }
                    });
                </script>
            </div>

        </div>
        <div class="flex items-center space-x-10">
            <a href="write" class="text-gray-500 focus:outline-none space-x-2">
                <i class="fas fa-pen"></i>
                <span>Viết bài</span>
            </a>
            <button class="text-gray-500 focus:outline-none">
                <i class="fas fa-bell"></i>
            </button>
			<div class="relative">
                <button id="btn-profile" class="rounded-full">
                    <img src="https://placehold.co/32x32" alt="User profile image, placeholder image" class="w-8 h-8 rounded-full">
                </button>
                <div class="hidden absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="menu-bar">
                    <div class="py-1 space-y-1" role="none">
                        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                        <a href="/profile" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"><i class="fa-solid fa-user"></i><span class="ps-3">Hồ sơ</span></a>
                        <a href="/admin" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"><i class="fa-solid fa-bookmark"></i><span class="ps-3">Bài viết đã lưu</span></a>
                        <a href="/admin" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"><i class="fa-solid fa-lock"></i><span class="ps-3">Trang quản trị</span></a>
                        <a href="/logout" class="border-t block px-4 py-2 text-sm font-semibold mt-2 pt-4 text-red-500" role="menuitem" tabindex="-1"><i class="fa-solid fa-right-from-bracket"></i><span class="ps-3">Đăng xuất</span></a>
                    </div>
                </div>
                <style>
                    /* Animation */
                    .nav-bar__dropdown-menu-close {
                        animation: fadeIn 0.3s;
                    }

                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                        }
                        to {
                            opacity: 1;
                        }
                    }
                    
                </style>
                <script>
                    document.getElementById("btn-profile").addEventListener("click", function() {

                        const menuBar = document.getElementById("menu-bar");
                        
                        menuBar.classList.toggle("hidden");
                        menuBar.classList.toggle("nav-bar__dropdown-menu-close");
                    });
                </script>
			</div>
        </div>
    </header>
	
	<script>
	</script>
</body>
</html>