<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Định nghĩa fragment với tên "sidebar" -->
    <nav th:fragment="sidebar" class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                <div class="sidebar-brand-text mx-3"><span>iDev4rum</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <!-- Dashboard -->
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/dashboard}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                <!-- Manage posts -->
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/posts}"><i class="fas fa-blog"></i><span>Manage posts</span></a></li>
                <!-- Manage topics -->
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/topic}"><i class="fas fa-tags"></i><span>Manage topics</span></a></li>
                <!-- Manage comments -->
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/comment}"><i class="fas fa-comments"></i><span>Manage comments</span></a></li>
                <!-- Manage users -->
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/users}"><i class="fas fa-users"></i><span>Manage users</span></a></li>
                
                <hr class="sidebar-divider my-2 border-2 border-white">
                <!-- View localhost -->
                <li class="nav-item"><a class="nav-link" th:href="@{/}"><i class="fas fa-globe"></i><span>Back to website</span></a></li
            </ul>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>
        </div>
    </nav>
</body>
</html> 