<head th:replace="~{/fragments/head :: head}"></head>
<body class="">

<!-- Nav bar -->
<header th:replace="~{/fragments/navigate :: header}"></header>
<!-- Blog space -->
<div class="container mx-auto px-12 lg:w-10/12">
    <div class="flex justify-between items-start">

        <!-- Recommend blog -->
        <div class="w-2/3 space-y-8 ">
            <!-- Bar -->
            <!-- Cover and name -->
            <div class="flex flex-col justify-center pt-3 px-5 space-y-8">
                <img th:src="${user.coverPicture ?: 'https://placehold.co/720x150'}" data-image="fileCover" accept="image/*" class="h-64 w-full object-cover">
                <div class="flex flex-row items-center justify-between">
                    <h2 class="text-4xl font-bold" th:text="${user.name}"></h2>
                    <div class="flex flex-row space-x-4 items-end justify-content-end">
                        <a th:href="@{'/author/' + ${user.userId} (tab=edit)}" class="text-gray-500 focus:outline-none">
                            <i class="fas fa-pen text-lg"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex flex-row space-x-10 items-center pt-3 text-nowrap scrollbar-custom px-5">
                <!-- plus icon -->
                <a class="pb-3 text-gray-500 hover:text-black"
                   th:href="@{'/author/' + ${user.userId}}">Trang chủ</a>
                <a class="border-black border-b-2 pb-3 "
                   href="#">Về tác giả</a>
            </div>


            <!-- Post suggest -->
            <div class="flex flex-col space-y-3">
                <!-- post item -->
                <p th:text="${user.description}">Not implemented yet</p>
            </div>
        </div>

        <!-- Profile -->
        <div class="w-1/3 p-4 pl-12">
            <!-- Info -->
            <div class="mt-8">
                <div class="flex flex-col space-y-2">
                    <div class="rounded-full">
                        <img th:src="${user.profilePicture ?: 'https://placehold.co/150x150'}"
                             alt="User profile image"
                             class="rounded-full w-24 h-24 object-cover">
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h2 class="font-semibold text-lg" th:text="${user.name}"></h2>
                        <!-- <p class="text-gray-500">(nam)</p> -->
                        <p class="text-gray-500" th:text="${user.followers.size() > 1000 ? user.followers.size() / 1000 + 'K' : user.followers.size()} + ' Followers'"></p>
                    </div>
                    <div class="pb-2">
                        <p class="text-sm text-gray-500" th:text="${user.bio}"></p>
                    </div>
                    <div class="flex flex-row space-x-2">
                        <button type="button" th:class="${ (isFollowing ? 'bg-red-400' : 'bg-blue-400') + ' rounded-full px-4 py-2 text-white text-sm font-bold'}" th:data-userid="${user.userId}"
                                th:data-currentstate="${currentState}" onclick="follow(this)" th:text="${(isFollowing ? 'Huỷ theo dõi' : 'Theo dõi')}">Follow</button>                        <a href="mailto:me@dtbao.io.vn" class="flex">
                            <div class="bg-blue-400 rounded-full w-9 text-white text-sm font-bold flex justify-center items-center">
                                <i class="fa-regular fa-envelope"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="py-12">
                <h3 class="font-semibold mb-5">Đã lưu gần đây</h3>
                <div class="space-y-5">
                    <div class="mb-3 space-y-5" th:each="bookmark : ${currentUser.bookMarks}">
                        <!-- Bookmark item -->
                        <div class="py-2">
                            <a th:href="@{'/author/' + ${bookmark.post.author.userId}}" class="flex flex-row items-center space-x-2 mb-3 text-sm">
                                <img th:src="${bookmark.post.author.profilePicture}"
                                     alt="User profile image"
                                     class="rounded-full w-6 h-6">
                                <span class="font-semibold hover:text-gray-500"
                                      th:text="${bookmark.post.author.name}"></span>
                            </a>
                            <a th:href="@{'/posts/' + ${bookmark.post.postId}}">
                                <h2 class="font-semibold" th:text="${bookmark.post.title}"></h2>
                            </a>
                            <div class="flex items-center space-x-2 text-xs mt-2">
                                <p>
                                    <a th:href="@{'/posts/' + ${bookmark.post.postId}}" th:text="${#dates.format(bookmark.post.createdAt, 'MMM dd, yyyy')}"></a>
                                </p>

                                <p>·</p>

                                <p>
                                    <a th:href="@{'/topic/' + ${bookmark.post.topic.tagId}}" th:text="${bookmark.post.topic.name}"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="text-blue-500 text-sm hover:text-blue-400">See the full list</a>
            </div>

            <!-- Copyright -->
            <div class="text-left text-gray-500 text-sm">
                <p>©
                    <script>document.write(new Date().getFullYear())</script>
                    iDev4rum. All rights reserved.
                </p>
                <p>Designed by <a href="https://dtbao.io.vn/?s=javawww-baitaplon" class="text-blue-500">Duong Thai
                    Bao</a></p>
                <p class="text-red-500 mt-6"><strong>Notice: </strong>This project is intended for educational use and
                    may overlap with existing copyrighted designs. If any of our work infringes on your copyright,
                    please let us know so we can remove it.</p>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        var currentState = [[${isFollowing}]];
        var followedId = [[${user.userId}]];
        function follow(element){

            fetch('/api/users/following?id=' + followedId, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then(response => response.json())
                .then(data => {
                    console.log(data);
                    if(data.errorCode == 200){
                        if(currentState == false){
                            element.innerHTML = 'Huỷ theo dõi';
                            element.classList.toggle('bg-blue-400', false);
                            element.classList.toggle('bg-red-400', true);
                            currentState = true;
                        }else{
                            element.innerHTML = 'Theo dõi';
                            element.classList.toggle('bg-blue-400', true);
                            element.classList.toggle('bg-red-400', false);
                            currentState = false;
                        }
                    } else {
                        alert(data.message);
                    }
                }).catch((error) => {
                console.log(error)
                alert('Error: ' + error);
            });
        }
    </script>

</div>
</body>
</html>